body{
  font-family: monospace;
  background-color: #e0ffcd;;
}



h1,form,div {
  text-align: center;
  font-weight: 700;
}


.card {
  background-color: #e0ffcd;
}
#search {

  margin: 20px 20px 20px 20px;
  width: 500px;
  text-align: center;
  height: 60px;
}

#searchb{
  background-color:#5585b5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
#currentb{
  background-color:#5585b5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
